{%- set license_copyright_header = cookiecutter.license_copyright_header -%}
{%- set license_copyright_holder = cookiecutter.license_copyright_holder -%}
{%- set license_copyright_years = cookiecutter.license_copyright_years -%}
{%- set license_copyright_suffix = cookiecutter.license_copyright_suffix -%}
{%- set license_preamble = cookiecutter.license_preamble -%}
{%- set license_appendix = cookiecutter.license_appendix -%}
{%- set license_body %}

Permission is hereby granted, free of charge, to any person obtaining
a copy of this software and associated documentation files (the
"Software"), to deal in the Software without restriction, including
without limitation the rights to use, copy, modify, merge, publish,
distribute, sublicense, and/or sell copies of the Software, and to
permit persons to whom the Software is furnished to do so, subject to
the following conditions:

The above copyright notice and this permission notice shall be included
in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
{%- endset -%}
{%- if not license_copyright_header -%}
{%- set license_copyright_header -%}
Copyright (c) {{ license_copyright_years }} {{ license_copyright_holder }}{{ license_copyright_suffix | default('') }}
{%- endset -%}
{%- endif -%}
{{ license_preamble | default('') }}{{ license_copyright_header -}}
{{ license_body }}{{ license_appendix | default('') }}
