{%- set license_body %}

Permission to use, copy, modify, and/or distribute this software for any
purpose with or without fee is hereby granted.

THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
{%- endset -%}
{%- if not license_copyright_header -%}
{%- set license_copyright_header -%}
Copyright (c) {{ license_copyright_years }} {{ license_copyright_holder }}{{ license_copyright_suffix | default('') }}
{%- endset -%}
{%- endif -%}
{{ license_preamble | default('') }}{{ license_copyright_header -}}
{{ license_body }}{{ license_appendix | default('') }}
