{%- set license_body = "" -%}
{%- if not license_copyright_header -%}
{%- set license_copyright_header -%}
Copyright (c) {{ license_copyright_years }} {{ license_copyright_holder }}{{ license_copyright_suffix | default('') }}
{%- endset -%}
{%- endif -%}
{{ license_preamble | default('') }}{{ license_copyright_header -}}
{{ license_body }}{{ license_appendix | default('') }}
