{%- set license_copyright_header = cookiecutter.license_copyright_header -%}
{%- set license_copyright_holder = cookiecutter.license_copyright_holder -%}
{%- set license_copyright_years = cookiecutter.license_copyright_years -%}
{%- set license_copyright_suffix = cookiecutter.license_copyright_suffix -%}
{%- set license_preamble = cookiecutter.license_preamble -%}
{%- set license_appendix = cookiecutter.license_appendix -%}
{%- set license_body = "" -%}
{%- if not license_copyright_header -%}
{%- set license_copyright_header -%}
Copyright (c) {{ license_copyright_years }} {{ license_copyright_holder }}{{ license_copyright_suffix | default('') }}
{%- endset -%}
{%- endif -%}
{{ license_preamble | default('') }}{{ license_copyright_header -}}
{{ license_body }}{{ license_appendix | default('') }}
